body {
  font-family: Lora, Lato, sans-serif;
  color: #6f8383;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Arvo, sans-serif;
}

.block-elm {
  display: block;
}

.edl-breadcrumb {
  display: block;
  padding: 10px 20px;
  font-size: .92em;
  font-weight: bolder;
  text-transform: uppercase;
}

.edl-breadcrumb-primary {
  background-color: #66BFBF;
  color: #fff;
}

.edl-breadcrumb-secondary {
  background-color: #F76B8A;
  color: #fff;
}

.edl-breadcrumb-gray {
  background-color: #ECF0F1;
  color: #95A5A5;
}

.edl-notification {
  display: block;
  padding: 6px 15px;
  border-radius: 5px;
  border: 1px solid;
}

.edl-notification p > i {
  font-size: 1.5em;
  margin-right: 8px;
}

.edl-notification-primary {
  border-color: #47abab;
  background-color: #8acece;
  color: #fff;
}

.edl-notification-primary p > i {
  color: #409999;
}

.edl-notification-sec {
  border-color: #f43b64;
  background-color: #fa9bb0;
  color: #fff;
}

.edl-notification-sec p > i {
  color: #f32251;
}

.text-primary {
  color: #66BFBF;
}

.text-secondary {
  color: #F76B8A;
}

.mark {
  font-weight: bolder;
  margin: 0 2px;
  color: #66BFBF;
  background-color: transparent;
}

.textfield {
  border: 1px solid;
  padding: 8px;
  font-family: Lora, Lato, sans-serif;
  display: block;
  width: 100%;
  outline: none;
}

.divider {
  border-bottom: 1px solid #BDC3C7;
}

.patient-avater {
  width: 200px;
  height: 200px;
  border-radius: 5px;
}

.data {
  font-size: 1.1em;
}

.data label {
  color: #66BFBF;
  display: block;
}

.data span {
  color: #95A5A5;
}

.pad-all-1x {
  padding: 5px 5px 5px 5px;
}

.pad-all-2x {
  padding: 10px 10px 10px 10px;
}

.pad-all-3x {
  padding: 15px 15px 15px 15px;
}

.pad-all-4x {
  padding: 20px 20px 20px 20px;
}

.pad-rl-1x {
  padding: 0 0 5px 5px;
}

.pad-rl-2x {
  padding: 0 0 10px 10px;
}

.pad-rl-3x {
  padding: 0 0 15px 15px;
}

.pad-rl-4x {
  padding: 0 0 20px 20px;
}

.pad-tb-1x {
  padding: 5px 5px 0 0;
}

.pad-tb-2x {
  padding: 10px 10px 0 0;
}

.pad-tb-3x {
  padding: 15px 15px 0 0;
}

.pad-tb-4x {
  padding: 20px 20px 0 0;
}

.margin-all-1x {
  margin: 5px 5px 5px 5px;
}

.margin-all-2x {
  margin: 10px 10px 10px 10px;
}

.margin-all-3x {
  margin: 15px 15px 15px 15px;
}

.margin-all-4x {
  margin: 20px 20px 20px 20px;
}

.margin-rl-1x {
  margin: 0 0 5px 5px;
}

.margin-rl-2x {
  margin: 0 0 10px 10px;
}

.margin-rl-3x {
  margin: 0 0 15px 15px;
}

.margin-rl-4x {
  margin: 0 0 20px 20px;
}

.margin-tb-1x {
  margin: 5px 5px 0 0;
}

.margin-tb-2x {
  margin: 10px 10px 0 0;
}

.margin-tb-3x {
  margin: 15px 15px 0 0;
}

.margin-tb-4x {
  margin: 20px 20px 0 0;
}

.rad-1x {
  border-radius: 5px;
}

.rad-2x {
  border-radius: 10px;
}

.rad-3x {
  border-radius: 15px;
}

.rad-4x {
  border-radius: 20px;
}

.small-1x {
  font-size: .95em;
}

.small-2x {
  font-size: .82em;
}

.edl-input {
  height: 40px;
  width: 100%;
  border: 1px solid;
  font-family: Lora, Lato, sans-serif;
  font-size: .95em;
  outline: none;
  padding: 5px 8px;
}

.input-rad {
  border-radius: 3px;
}

.input-brd-primary {
  border-color: #66BFBF;
  -webkit-transition: border-color 0.6s ease-in-out;
  transition: border-color 0.6s ease-in-out;
}

.input-brd-primary:focus,
.input-brd-primary:active {
  border-color: #388787;
  color: #66BFBF;
  font-weight: bold;
  -webkit-transition: border-color 0.5s linear;
  transition: border-color 0.5s linear;
}

.input-brd-sec {
  border-color: #F76B8A;
  -webkit-transition: border-color 0.6s ease-in;
  transition: border-color 0.6s ease-in;
}

.input-brd-sec:focus,
.input-brd-sec:active {
  border-color: #ef0d3f;
  color: #F76B8A;
  font-weight: bold;
  -webkit-transition: border-color 0.5s linear;
  transition: border-color 0.5s linear;
}

.input-brd-gray {
  border-color: #95A5A5;
  -webkit-transition: border-color 0.6s ease-in-out;
  transition: border-color 0.6s ease-in-out;
}

.input-brd-gray:focus,
.input-brd-gray:active {
  border-color: #617373;
  color: #95A5A5;
  font-weight: bold;
  -webkit-transition: border-color 0.5s linear;
  transition: border-color 0.5s linear;
}

.button {
  height: 40px;
  font-size: .85em;
  font-family: Avro, sans-serif;
  text-transform: uppercase;
  border: none;
  font-weight: 600;
  outline: none;
}

.btn-block {
  width: 100%;
  display: block;
}

.btn-rad {
  border-radius: 3px;
}

.btn-primary {
  background-color: #66BFBF;
  color: #fff;
  -webkit-transition: background-color 0.4s linear;
  transition: background-color 0.4s linear;
}

.btn-primary:hover {
  background-color: #47abab;
  -webkit-transition: background-color 0.4s linear;
  transition: background-color 0.4s linear;
}

.btn-secondary {
  background-color: #F76B8A;
  color: #fff;
  -webkit-transition: background-color 0.4s ease-in-out;
  transition: background-color 0.4s ease-in-out;
}

.btn-secondary:hover {
  background-color: #f43b64;
  -webkit-transition: background-color 0.4s linear;
  transition: background-color 0.4s linear;
}

.btn-grap {
  background-color: #BDC3C7;
  color: #fff;
  -webkit-transition: background-color 0.4s ease-in-out;
  transition: background-color 0.4s ease-in-out;
}

.btn-grap:hover {
  background-color: #a1aab0;
  -webkit-transition: background-color 0.4s linear;
  transition: background-color 0.4s linear;
}

.navbar {
  margin: 0;
}

.navbar-nav a {
  text-transform: uppercase;
  font-size: .89em;
  -webkit-transition: color 0.5s ease-in-out;
  transition: color 0.5s ease-in-out;
}

.navbar-nav a:hover {
  color: #66BFBF !important;
  -webkit-transition: color 0.5s linear;
  transition: color 0.5s linear;
}

.navbar-brand {
  font-weight: bold;
  color: #66BFBF !important;
}

.custom-search-input {
  border-radius: 10px 0 0 10px;
}

.custom-search-input:hover,
.custom-search-input:focus,
.custom-search-input:active {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 1px solid #66BFBF;
}

.custom-search-button {
  position: relative;
  border-radius: 0 10px 10px 0;
  left: -8px;
  bottom: -1px;
}

.custom-search-button:hover,
.custom-search-button:active,
.custom-search-button:focus {
  background-color: #66BFBF;
  border: 1px solid transparent;
  color: #fff;
}

