body {
  background-color: #66BFBF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.login {
  width: 400px;
  background-color: #FCFEFE;
  border-radius: 5px;
  padding: 60px 15px 60px 20px;
  text-align: center;
}

.login-logo {
  font-size: 4em;
  background-color: #66BFBF;
  color: #FCFEFE;
  padding: 22px 8px 6px 15px;
  border-radius: 50%;
}

.notification-container {
  text-align: left;
}

