// Basic Colors
$primary-color: #3498DB !default;
$secondary-color: #c0392b !default;
$white-color: #FCFEFE !default;
$blue-white: #EAF6F6 !default;
$mid-gray: #95A5A5 !default;
$light-gray: #BDC3C7;
$dark-gray: #2C3E50 !default;
$alert-success:             #2ECC71 !default;
$alert-warning:             #F39C12 !default;
$alert-danger:              #E74C3C !default;


//Document body color
$body-color: darken($mid-gray, 14%);